In [1]:
# Remove a small sample set 1% for the testing of the final model
# data = df.sample(frac=0.99, random_state=28)
#data_unseen = df.drop(data.index)
#print(f' Data for model: {data.shape},\nData for unseen predictions: {data_unseen.shape}')

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv ('https://raw.githubusercontent.com/pycaret/datasets/main/data/common/concrete.csv')
df.columns

Index(['Cement (component 1)(kg in a m^3 mixture)',
       'Blast Furnace Slag (component 2)(kg in a m^3 mixture)',
       'Fly Ash (component 3)(kg in a m^3 mixture)',
       'Water  (component 4)(kg in a m^3 mixture)',
       'Superplasticizer (component 5)(kg in a m^3 mixture)',
       'Coarse Aggregate  (component 6)(kg in a m^3 mixture)',
       'Fine Aggregate (component 7)(kg in a m^3 mixture)', 'Age (day)',
       'strength'],
      dtype='object')

In [8]:
df

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [4]:
df.columns = ['cement','slag','ash','water','superplastic','coarseAgg','fineAgg','age','strength']
df

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [5]:
##df.to_csv('../Regression/', index=False)

In [7]:
df.to_csv('./RegressionData/regressionData-Concrete.csv', index=False)

In [ ]:
## df.to_csv('../../Supervised-Learning/data/concrete.csv', index=False)

In [ ]:
## checking for scaling

def minmax(x):
    return pd.Series(index=['min', 'max','mean','cleanQtile'], data=[x.min(), x.max(),x.mean(),x.quantile(q=0.75) - x.quantile(q=0.25)])
df.apply(minmax).T

                 min     max        mean  cleanQtile
cement        102.00   540.0  281.167864     157.625
slag            0.00   359.4   73.895825     142.950
ash             0.00   200.1   54.188350     118.300
water         121.80   247.0  181.567282      27.100
superplastic    0.00    32.2    6.204660      10.200
coarseAgg     801.00  1145.0  972.918932      97.400
fineAgg       594.00   992.6  773.580485      93.050
age             1.00   365.0   45.662136      49.000
strength        2.33    82.6   35.817961      22.425

In [ ]:
## Remove unseen samples

data = df.sample(frac=0.99,random_state=28)
data_unseen = df.drop(data.index)

print(f'Data for model: {data.shape},\nData for unseen predictions: { data_unseen.shape}')

Data for model: (1020, 9),
Data for unseen predictions: (10, 9)

In [ ]:
from pycaret.regression import *
reg = setup(data = data, target='strength', normalize=True, session_id=42)

In [ ]:
compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           20:00:55
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

LGBMRegressor(random_state=42)

In [ ]:
compare_models(exclude=['omp','dummy'])

Initiated  . . . . . . . . . . . . . . . . . .           20:01:11
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

LGBMRegressor(random_state=42)

In [ ]:
# model is run on the train dataset
model = create_model('lightgbm')

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:01:20
Status,. . . . . . . . . . . . . . . . . .,Fitting 10 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

In [ ]:
# Training model on test data set
predict_model(model)

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,strength,prediction_label
714,254.000000,0.000000,0.000000,198.000000,0.0,968.000000,863.000000,90,26.940001,25.039384
715,230.000000,0.000000,118.300003,195.500000,4.6,1029.400024,758.599976,100,35.340000,33.918469
716,213.800003,98.099998,24.500000,181.699997,6.7,1066.000000,785.500000,100,49.970001,47.179640
717,446.000000,24.000000,79.000000,162.000000,11.6,967.000000,712.000000,7,39.299999,43.824018
718,213.500000,0.000000,174.199997,154.600006,11.7,1052.300049,775.500000,3,17.370001,22.764129
...,...,...,...,...,...,...,...,...,...,...
1015,173.500000,50.099998,173.500000,164.800003,6.5,1006.200012,793.500000,28,38.200001,48.739442
1016,149.000000,236.000000,0.000000,176.000000,13.0,847.000000,893.000000,28,32.959999,31.032593
1017,237.500000,237.500000,0.000000,228.000000,0.0,932.000000,594.000000,90,33.119999,46.150469
1018,475.000000,0.000000,0.000000,228.000000,0.0,932.000000,594.000000,365,41.930000,44.842143
1019,246.800003,0.000000,125.099998,143.300003,12.0,1086.800049,800.900024,28,52.500000,46.385877

In [ ]:
# Tune model goes agaist train and test 
tuned_model = tune_model(model)

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:01:21
Status,. . . . . . . . . . . . . . . . . .,Loading Dependencies
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [ ]:
print(tuned_model)

LGBMRegressor(bagging_fraction=0.8, bagging_freq=3, feature_fraction=0.8,
              learning_rate=0.2, min_child_samples=6, min_split_gain=0.6,
              num_leaves=30, random_state=42, reg_alpha=0.001, reg_lambda=5)

In [ ]:
final_model = finalize_model(tuned_model)
final_model

Pipeline(memory=FastMemory(location=C:\Users\juud0\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['cement', 'slag', 'ash', 'water',
                                             'superplastic', 'coarseAgg',
                                             'fineAgg', 'age'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=[],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('normalize', TransformerWrapper(transformer=StandardScaler())),
                ('actual_estimator',
                 LGBMRegressor(bagging_fraction=0.8, bagging_freq=3,
                               feature_fraction=0.8, learning_rate=0.2,
                               min_child_samples=6, min_split_gain=0.6,
                               num_leaves=30, random_state=42, reg_alpha=0.001,
                               reg_lambda=5))])

In [ ]:
save_model(final_model, './models/concrete_ltgm')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\juud0\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['cement', 'slag', 'ash', 'water',
                                              'superplastic', 'coarseAgg',
                                              'fineAgg', 'age'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('actual_estimator',
                  LGBMRegressor(bagging_fraction=0.8, bagging_freq=3,
                                feature_fraction=0.8, learning_rate=0.2,
                                min_child_samples=6, min_split_gain=0.6,
                                num_leaves=30, random_state=42, reg_alpha=0.001,
                                reg_lambda=5))]),
 './models/concrete_ltgm.pkl')

In [ ]:
model_test = load_model('./models/concrete_ltgm')

Transformation Pipeline and Model Successfully Loaded

In [ ]:
data = [[332.5,	142.5,	0.0,	228.0,	0.0,	932.0,	594.0,	365]]
#41.05

In [ ]:
cols = model_test.feature_names_in_[:-1]
data_df = pd.DataFrame(data, columns=cols)
prediction = model_test.predict(data_df)[0]
prediction

41.35282973394896

In [ ]:
data_unseen

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,strength
87,286.3,200.9,0.0,144.7,11.2,1004.6,803.7,3,24.40
140,313.3,262.2,0.0,175.5,8.6,1046.9,611.8,56,64.90
152,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30
192,233.8,0.0,94.6,197.9,4.6,947.0,852.2,56,27.66
453,190.3,0.0,125.2,166.6,9.9,1079.0,798.9,56,31.72
472,446.0,24.0,79.0,162.0,11.6,967.0,712.0,28,44.42
476,446.0,24.0,79.0,162.0,11.6,967.0,712.0,3,25.02
498,355.0,19.0,97.0,145.0,12.3,967.0,871.0,28,55.45
606,236.0,0.0,0.0,194.0,0.0,968.0,885.0,14,12.84
939,145.9,230.5,0.0,202.5,3.4,827.0,871.8,28,32.72

In [ ]:
batch = data_unseen.iloc[:,:-1]
batch
predictions = model_test.predict(batch)
predictions

array([29.16396672, 68.27886247, 77.07838182, 30.60932282, 31.19140918,
       54.39744264, 29.82951451, 46.99453254, 16.57758829, 31.93897401])

In [ ]:
data_unseen['y-hat'] =np.round(predictions,2)
data_unseen['pct_err'] = (abs(data_unseen['strength'] - data_unseen['y-hat'])) / data_unseen['strength']
data_unseen

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,strength,y-hat,pct_err
87,286.3,200.9,0.0,144.7,11.2,1004.6,803.7,3,24.40,29.16,0.195082
140,313.3,262.2,0.0,175.5,8.6,1046.9,611.8,56,64.90,68.28,0.052080
152,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30,77.08,0.002846
192,233.8,0.0,94.6,197.9,4.6,947.0,852.2,56,27.66,30.61,0.106652
453,190.3,0.0,125.2,166.6,9.9,1079.0,798.9,56,31.72,31.19,0.016709
472,446.0,24.0,79.0,162.0,11.6,967.0,712.0,28,44.42,54.40,0.224674
476,446.0,24.0,79.0,162.0,11.6,967.0,712.0,3,25.02,29.83,0.192246
498,355.0,19.0,97.0,145.0,12.3,967.0,871.0,28,55.45,46.99,0.152570
606,236.0,0.0,0.0,194.0,0.0,968.0,885.0,14,12.84,16.58,0.291277
939,145.9,230.5,0.0,202.5,3.4,827.0,871.8,28,32.72,31.94,0.023839

In [ ]:
#y is the target and y-hat is the predictions of y on unsendata

In [ ]:
evaluate_model(model_test)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [ ]:
df

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [ ]:
beta_model = predict_model(model_test,data=df.drop('strength', axis=1))
beta_model

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,prediction_label
0,540.000000,0.000000,0.000000,162.000000,2.5,1040.000000,676.000000,28,75.521229
1,540.000000,0.000000,0.000000,162.000000,2.5,1055.000000,676.000000,28,64.364456
2,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,270,40.624615
3,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,365,41.352830
4,198.600006,132.399994,0.000000,192.000000,0.0,978.400024,825.500000,360,43.498180
...,...,...,...,...,...,...,...,...,...
1025,276.399994,116.000000,90.300003,179.600006,8.9,870.099976,768.299988,28,43.913968
1026,322.200012,0.000000,115.599998,196.000000,10.4,817.900024,813.400024,28,31.652322
1027,148.500000,139.399994,108.599998,192.699997,6.1,892.400024,780.000000,28,24.214244
1028,159.100006,186.699997,0.000000,175.600006,11.3,989.599976,788.900024,28,32.681527
1029,260.899994,100.500000,78.300003,200.600006,8.6,864.500000,761.500000,28,32.711674

In [ ]:
beta_model['strength'] = df['strength']
beta_model

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,prediction_label,strength
0,540.000000,0.000000,0.000000,162.000000,2.5,1040.000000,676.000000,28,75.521229,79.99
1,540.000000,0.000000,0.000000,162.000000,2.5,1055.000000,676.000000,28,64.364456,61.89
2,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,270,40.624615,40.27
3,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,365,41.352830,41.05
4,198.600006,132.399994,0.000000,192.000000,0.0,978.400024,825.500000,360,43.498180,44.30
...,...,...,...,...,...,...,...,...,...,...
1025,276.399994,116.000000,90.300003,179.600006,8.9,870.099976,768.299988,28,43.913968,44.28
1026,322.200012,0.000000,115.599998,196.000000,10.4,817.900024,813.400024,28,31.652322,31.18
1027,148.500000,139.399994,108.599998,192.699997,6.1,892.400024,780.000000,28,24.214244,23.70
1028,159.100006,186.699997,0.000000,175.600006,11.3,989.599976,788.900024,28,32.681527,32.77
1029,260.899994,100.500000,78.300003,200.600006,8.6,864.500000,761.500000,28,32.711674,32.40

In [ ]:
beta_model['err'] = beta_model['strength'] - beta_model['prediction_label']
beta_model

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,prediction_label,strength,err
0,540.000000,0.000000,0.000000,162.000000,2.5,1040.000000,676.000000,28,75.521229,79.99,4.468771
1,540.000000,0.000000,0.000000,162.000000,2.5,1055.000000,676.000000,28,64.364456,61.89,-2.474456
2,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,270,40.624615,40.27,-0.354615
3,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,365,41.352830,41.05,-0.302830
4,198.600006,132.399994,0.000000,192.000000,0.0,978.400024,825.500000,360,43.498180,44.30,0.801820
...,...,...,...,...,...,...,...,...,...,...,...
1025,276.399994,116.000000,90.300003,179.600006,8.9,870.099976,768.299988,28,43.913968,44.28,0.366032
1026,322.200012,0.000000,115.599998,196.000000,10.4,817.900024,813.400024,28,31.652322,31.18,-0.472322
1027,148.500000,139.399994,108.599998,192.699997,6.1,892.400024,780.000000,28,24.214244,23.70,-0.514244
1028,159.100006,186.699997,0.000000,175.600006,11.3,989.599976,788.900024,28,32.681527,32.77,0.088473
1029,260.899994,100.500000,78.300003,200.600006,8.6,864.500000,761.500000,28,32.711674,32.40,-0.311674

In [ ]:
beta_model['pct_err'] = (abs (beta_model['strength'] - beta_model['prediction_label'])) / beta_model['strength']
beta_model

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,prediction_label,strength,err,pct_err
0,540.000000,0.000000,0.000000,162.000000,2.5,1040.000000,676.000000,28,75.521229,79.99,4.468771,0.055867
1,540.000000,0.000000,0.000000,162.000000,2.5,1055.000000,676.000000,28,64.364456,61.89,-2.474456,0.039982
2,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,270,40.624615,40.27,-0.354615,0.008806
3,332.500000,142.500000,0.000000,228.000000,0.0,932.000000,594.000000,365,41.352830,41.05,-0.302830,0.007377
4,198.600006,132.399994,0.000000,192.000000,0.0,978.400024,825.500000,360,43.498180,44.30,0.801820,0.018100
...,...,...,...,...,...,...,...,...,...,...,...,...
1025,276.399994,116.000000,90.300003,179.600006,8.9,870.099976,768.299988,28,43.913968,44.28,0.366032,0.008266
1026,322.200012,0.000000,115.599998,196.000000,10.4,817.900024,813.400024,28,31.652322,31.18,-0.472322,0.015148
1027,148.500000,139.399994,108.599998,192.699997,6.1,892.400024,780.000000,28,24.214244,23.70,-0.514244,0.021698
1028,159.100006,186.699997,0.000000,175.600006,11.3,989.599976,788.900024,28,32.681527,32.77,0.088473,0.002700
1029,260.899994,100.500000,78.300003,200.600006,8.6,864.500000,761.500000,28,32.711674,32.40,-0.311674,0.009620

In [ ]:
beta_model = beta_model.sort_values('pct_err', ascending=False)
beta_model

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,prediction_label,strength,err,pct_err
114,362.600006,189.000000,0.0,164.899994,11.6,944.700012,755.799988,7,46.291124,22.90,-23.391124,1.021446e+00
763,385.000000,0.000000,0.0,186.000000,0.0,966.000000,763.000000,1,12.170906,6.27,-5.900906,9.411333e-01
732,349.000000,0.000000,0.0,192.000000,0.0,1056.000000,809.000000,7,15.355306,9.01,-6.345306,7.042515e-01
746,500.000000,0.000000,0.0,200.000000,0.0,1125.000000,613.000000,1,20.823561,12.64,-8.183561,6.474336e-01
688,108.300003,162.399994,0.0,203.500000,0.0,938.200012,849.000000,3,3.271568,2.33,-0.941568,4.041065e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
729,331.000000,0.000000,0.0,192.000000,0.0,1025.000000,821.000000,90,37.913233,37.91,-0.003233,8.527886e-05
646,250.199997,166.800003,0.0,203.500000,0.0,977.599976,694.099976,90,47.711451,47.71,-0.001451,3.042196e-05
951,152.699997,144.699997,0.0,178.100006,8.0,999.700012,822.200012,28,19.010258,19.01,-0.000258,1.355663e-05
388,385.000000,0.000000,136.0,158.000000,20.0,903.000000,768.000000,28,55.550396,55.55,-0.000396,7.121914e-06
603,339.000000,0.000000,0.0,197.000000,0.0,968.000000,781.000000,180,36.449989,36.45,0.000011,3.040144e-07

In [ ]:
beta_model[beta_model['pct_err'] > 0.15].shape

(32, 12)

In [ ]:
beta_model[beta_model['pct_err'] > 0.15]

,cement,slag,ash,water,superplastic,coarseAgg,fineAgg,age,prediction_label,strength,err,pct_err
114,362.600006,189.000000,0.000000,164.899994,11.6,944.700012,755.799988,7,46.291124,22.90,-23.391124,1.021446
763,385.000000,0.000000,0.000000,186.000000,0.0,966.000000,763.000000,1,12.170906,6.27,-5.900906,0.941133
732,349.000000,0.000000,0.000000,192.000000,0.0,1056.000000,809.000000,7,15.355306,9.01,-6.345306,0.704251
746,500.000000,0.000000,0.000000,200.000000,0.0,1125.000000,613.000000,1,20.823561,12.64,-8.183561,0.647434
688,108.300003,162.399994,0.000000,203.500000,0.0,938.200012,849.000000,3,3.271568,2.33,-0.941568,0.404107
235,213.800003,98.099998,24.500000,181.699997,6.7,1066.000000,785.500000,14,23.821200,17.84,-5.981200,0.335269
294,168.899994,42.200001,124.300003,158.300003,10.8,1080.800049,796.200012,3,9.660078,7.40,-2.260078,0.305416
606,236.000000,0.000000,0.000000,194.000000,0.0,968.000000,885.000000,14,16.577588,12.84,-3.737588,0.291089
477,446.000000,24.000000,79.000000,162.000000,11.6,967.000000,712.000000,3,29.829515,23.35,-6.479515,0.277495
289,182.000000,45.200001,122.000000,170.199997,8.2,1059.400024,780.700012,3,9.317651,7.32,-1.997651,0.272903
415,250.000000,0.000000,95.699997,191.800003,5.3,948.900024,857.200012,3,10.672607,8.49,-2.182607,0.257080
705,122.599998,183.899994,0.000000,203.500000,0.0,958.200012,800.099976,3,4.114787,3.32,-0.794787,0.239394
628,200.000000,0.000000,0.000000,180.000000,0.0,1125.000000,845.000000,28,15.167232,12.25,-2.917232,0.238141
419,165.000000,0.000000,143.600006,163.800003,0.0,1005.599976,900.900024,14,20.856454,16.88,-3.976454,0.235572
214,190.300003,0.000000,125.199997,161.899994,9.9,1088.099976,802.599976,3,11.626323,9.45,-2.176323,0.230299
472,446.000000,24.000000,79.000000,162.000000,11.6,967.000000,712.000000,28,54.397443,44.42,-9.977443,0.224616
520,284.000000,15.000000,141.000000,179.000000,5.5,842.000000,801.000000,3,16.323407,13.40,-2.923407,0.218165
691,212.000000,141.300003,0.000000,203.500000,0.0,973.400024,750.000000,3,8.219532,6.81,-1.409532,0.206980
651,183.899994,122.599998,0.000000,203.500000,0.0,959.200012,800.000000,3,5.904591,4.90,-1.004591,0.205019
747,500.000000,0.000000,0.000000,200.000000,0.0,1125.000000,613.000000,3,20.823561,26.06,5.236439,0.200938
478,446.000000,24.000000,79.000000,162.000000,11.6,967.000000,712.000000,7,41.606838,52.01,10.403162,0.200022
87,286.299988,200.899994,0.000000,144.699997,11.2,1004.599976,803.700012,3,29.163967,24.40,-4.763967,0.195245
476,446.000000,24.000000,79.000000,162.000000,11.6,967.000000,712.000000,3,29.829515,25.02,-4.809515,0.192227
731,349.000000,0.000000,0.000000,192.000000,0.0,1056.000000,809.000000,3,12.945934,15.87,2.924066,0.184251
551,255.000000,0.000000,0.000000,192.000000,0.0,889.799988,945.000000,3,6.758925,8.20,1.441075,0.175741
764,385.000000,0.000000,0.000000,186.000000,0.0,966.000000,763.000000,3,12.170906,14.70,2.529094,0.172047
111,362.600006,189.000000,0.000000,164.899994,11.6,944.700012,755.799988,7,46.291124,55.90,9.608876,0.171894
106,362.600006,189.000000,0.000000,164.899994,11.6,944.700012,755.799988,7,46.291124,55.90,9.608876,0.171894
109,362.600006,189.000000,0.000000,164.899994,11.6,944.700012,755.799988,7,46.291124,55.90,9.608876,0.171894
596,170.300003,155.500000,0.000000,185.699997,0.0,1026.599976,724.299988,7,12.467094,10.73,-1.737094,0.161891
475,446.000000,24.000000,79.000000,162.000000,11.6,967.000000,712.000000,3,29.829515,35.36,5.530485,0.156405
498,355.000000,19.000000,97.000000,145.000000,12.3,967.000000,871.000000,28,46.994533,55.45,8.455467,0.152488

In [ ]:
print(df.shape,'\n', beta_model[beta_model['pct_err']> 0.15].shape)

(1030, 9)
 (32, 12)

In [ ]:
print(beta_model[beta_model['pct_err']> 0.15].shape[0]/df.shape[0])

0.031067961165048542